<!-- templates/admin.html -->
{% extends "dash.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">
{% endblock %}

{% block sub_content %}
    <div id="bank-detail" class="content-section active" style="margin-top: 80px">
        <div class="form-container">
            <div class="module-header" id="banks">
                <h3><i class="fas fa-file-alt"></i> 银行管理
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#addBankModal">新增银行
                    </button>
                </h3>
            </div>
            <table class="table table-borderless table-hover" style="text-align: center">
                <thead>
                <tr>
                    <th>银行名称</th>
                    <th>对应数据库名称</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for bank in banks %}
                    <tr>
                        <td>{{ bank.name }}</td>
                        <td>{{ bank.dbname }}</td>
                        <td>{{ bank.created_at }}</td>
                        <td>
                            {#                        <button class="btn btn-warning btn-sm edit-dept"#}
                            {#                                data-deptid="{{ bank.id }}">编辑</button>#}
                            <a href="{{ url_for('main.delete_bank', bank_id=bank.id) }}"
                               class="btn btn-danger btn-sm">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- 新增部门模态框 -->
        <div class="modal fade" id="addBankModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">新增银行</h4>
                    </div>
                    <form method="POST" action="{{ url_for('main.add_bank') }}">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>银行名称</label>
                                <input type="text" name="name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>数据库名称</label>
                                <input type="text" name="dbname" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">提交</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}