{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash.css') }}">
{% endblock %}

{% block content %}
    <main class="main-content">
        <nav class="side-nav">
            <ul>
                <li><a href="{{ url_for('main.tasks_panel') }}">任务创建</a></li>
                <li><a href="{{ url_for('main.task_details_panel') }}">任务详情</a></li>
                <li><a href="{{ url_for('main.records_panel') }}">数据下载</a></li>
                <li><a href="{{ url_for('main.models_panel') }}">模型创建</a></li>
                {% if current_user.role == 'admin' %}
                    <li class="has-submenu">
                        <a>后台管理</a>
                        <ul class="submenu">
                            <li data-target="register-apply"><a href="{{ url_for('main.audit_panel') }}">注册审核</a>
                            </li>
                            <li data-target="user-apply"><a href="{{ url_for('main.user_panel') }}">用户管理</a></li>
                            <li data-target="department-apply"><a
                                    href="{{ url_for('main.departments_panel') }}">部门管理</a></li>
                            <li data-target="bank-apply"><a href="{{ url_for('main.banks_panel') }}">银行管理</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div class="content-container">
            {% block sub_content %}{% endblock %}
        </div>
    </main>
{% endblock %}